@import 'styles/styles';

.wapper-card {
  display: flex;
  padding: 32px;
  color: $black;
  flex-direction: row;
  background-color: $white;
  border: 1px solid $alt_bg;
}
.card-item-img {
  display: flex;
  align-items: center;
  &__container{
    width: 90px;
    height: 90px;
  }
}
.card-item-info {
  padding: 0px 17px;
  &__price {
    font-size: 24px;
    color: $gray_800;
    font-weight: 600;
    font-family: $primaryFont;
  }
  &__title{
    font-size: 24px;
    color: $gray_800;
    font-family: $secondaryFont;
  }
}
.link-card-item{
    color: $gray_600;
    text-decoration: none;
}

