// Global styles

$size: (
  'mobile': (
    'min': 375px,
    'max': 767px,
  ),
  'tablet': (
    'min': 768px,
    'max': 1279px,
  ),
  'desktop': (
    'min': 1280px,
    'max': 1280px,
  ),
);

// fonts
$primaryFont: 'Montserrat';
$secondaryFont: 'Open Sans';

$primaratyColor:#ffff00;
$main_AAA: #252129;
$strokes_AAA: #78747B;
$turquoise_100: #e6fef9;
$error: #E51717;
$links_color: #3483FA;
$white: #FFF;
$black: #000000;

$gray_000: #fcfcfc;
$gray_800: #252426;
$gray_600: #e3dfe7;
$alt_bg: #EBF9FF;
$light_blue: #F6FCFF;


.container_general{
  width: 80%;
  margin:auto;
  max-width: 1240px;
}

